div.SearchBar {
  background-color: #f5f5f5;
}

.formRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.formRow div {
  flex: 0 1 25rem;
}

.bookFromCaption,
.bookToCaption,
.descriptionCaption {
  margin-bottom: 2.4rem;
}