// COLORS
$color-primary            : yellow;
$color-primary-dark       : #eab92d;
$color-grey-dark          : #777;
$color-grey-light         : #f5f5f5;
$color-white              : #fff;
$color-black              : #000;
$color-note-btn           : #e67e22;
$color-form-element-border: #ccc;

// GRID
$grid-with                : 114rem;
$gutter-vertical          : 8rem;
$gutter-vertical-small    : 6rem;
$gutter-horizontal        : 3rem;
